<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Average GPA</title>

</head>

<body>
	<p>Enter a class code below to display its average GPA</p>
	<form action="/averageGPA" method="post">
		<div class="gpaDiv">    
			<label>Class Code: <input type="text" name="classCode"></label>
            <br>
            <br>
            <input type="submit" value="Submit Request"/>
		</div>
		
        <br>
		<a class="url"href=<%- URL %>>back</a>
		
	</form>
</body>

</html>
