<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Class Sign Up</title>
    
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
	<h1>Sign up for classes for Fall 2022!</h1>
    <div class= indexDiv>
        <ul>
            <pre class = "indexLi">To sign up for a class click <a href="/signUp">Sign up</a> </pre>
            <pre  class = "indexLi">To see all classes you're currently signed up for click <a href="/myClasses">My classes</a> </pre>
            <pre  class = "indexLi">To see the average GPA for a particular class click <a href="/averageGPA">Average GPA</a> </pre>
            <pre class = "indexLi">To see a list of all professors who have taught a class click <a href="/teachers">Teachers</a> </pre>
            <pre class = "indexLi">To remove yourself from all classes for Fall 2022 click <a href="/clearClasses">Clear Classes</a> </pre>
        </ul>
    </div>

   
</body>

</html>
