<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>My Classes</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
	<h1>My classes for Fall 2022</h1>
	<div>
        <h2><%- msg %></h2>
		<%-  classTable %>
	</div>

    <a class="url" href=<%- URL %>>back</a>
</body>

</html>
