<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Removed</title>
</head>

<body>
	<h1>Removal Completed</h1>
    You have been removed from all classes for Fall 2022. Number of classes you withdrew from: <%- num %>
	<br>
    <br>
    <a  class="url"href=<%- URL %>>back</a>
</body>

</html>
