<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Teachers Result</title>
</head>

<body>
	<h1>All Teachers</h1>
	<div>
        <%- msg %>
		<%-  teacherTable %>
	</div>
    <br>
    <a class="url" href=<%- URL %>>back</a>
</body>

</html>
