<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Result</title>
</head>

<body>
	<h1>Average GPA for <%- classCode %></h1>

	<div>
            <h2><%- msg %></h2>
	        Average: <%-  averageGPA %>
	</div>
    <br>
    <a class="url" href=<%- URL %>>back</a>
</body>

</html>
